<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quote/process" method="post">
    <label for="name" >Name: </label>
    <input type="text" class="form-control" name="name">
    <label for="quote">Quote: </label>
    <textarea name="quote" class="form-control" id="quote" cols="30" rows="10"></textarea>
    <input  class="btn btn-secondary" type="submit" value="Add Quote">
    </form><br>
    <a href="/quotes"><button  class="btn btn-secondary">Quotes</button></a>
</body>
</html>