<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Here are some Awesome Quotes!</h1>

    <% for(var m of quotes) {%>
        <h4><%= m.quote %></h4>
        <p>- <%= m.name %></p>
    <%} %>
</body>
</html>